<% include partials/header.ejs %>


<% function capitalize(string)  { %>

    <% return string.charAt(0).toUpperCase() + string.slice(1); %>

<% } %>

<a href="/items/store/<%= storeName %>" class="ui button gray">Back</a>

<div class="ui segment">
	<h1 class="ui header"><%= capitalize(storeName) %></h1>
</div>
    

<div class="ui vertical menu fluid">
	<div class="item">
		<div class="ui button zeroAllBtn">zero all</div>
	</div>
</div>


<!-- 
	Gather the types all into an array
	We will use this to organize the items into categories.
 -->
<% var types = [] %>

<% for (var i = 0; i < items.length; i++) {
	 	if(types.indexOf(items[i].type)==-1) {
		 	types.push(items[i].type);
	 	}
 	} %>


<!-- 
	Determine the lowest and largest indeces, so that even if there
	is an index that is negative we will be certain to loop through it.
 -->
<% 	var lowestIndex=0;
	var largestIndex=0;

 %>
<% for (var i = 0; i < items.length; i++) {
	if (items[i].index<lowestIndex) {
		lowestIndex=items[i].index;
	}
	if (items[i].index>largestIndex) {
		largestIndex=items[i].index;
	}
} %>
	


	<!-- 
	Create an array
	Populate the array with objects
		-Each List Amount Display will be an object
		-Each List Amount Display object will have 2 properties:
			1. ID of List Item which this display correlates to
			2. The HTML content which stores the list amount value

	 -->



<form class="" method="POST" action="/multiUpdate/<%= items.length %>/false/<%= storeName %>?_method=PUT">

	<!-- Create a category for each type -->
	<% for (var k = 0; k < types.length; k++) { %>
	<!-- Each item will have a non-permanent index for the user to move the items around. The user can, then choose to apply these indeces by pressing the update button -->
	<% var listIndex=0; %>
		<div class="ui vertical menu fluid <%=types[k]%>-list">
			<div class="item header"><h3><%= types[k] %></h3></div>
			<% for (var l = lowestIndex; l <= largestIndex; l++) { %>
			<% for (var i = 0; i < items.length; i++) { %>
				<% if (items[i].type==types[k]&&items[i].index==l) { %>
				
					<div class="item menu <%=types[k]%>-list-item" list-index="<%=listIndex%>" UID="<%=items[i]._id%>" list-type="<%=types[k]%>" style="margin: auto; height: 100%; <% if (items[i].amount<=0) { %>background-color: #f5f5f5;<% } %> ">
						<div class="item header" style="padding: 5px;display: inline-block;">
								<%= items[i].name %>
								
						</div>
						<div class="ui label <% if (items[i].amount<=0) {%> gray <% } else { %>gray <% } %>"><%= items[i].amount %></div>

						<!-- CHange order buttons -->

						<div class="ui icon buttons">
						  <a class="ui button changeOrder up" UID="<%=items[i]._id%>"><i class="angle up icon"></i></a>
						  <a class="ui button changeOrder down" UID="<%=items[i]._id%>"><i class="angle down icon"></i></a>
						</div>

						
					</div>

<!-- ==========================================================================
						Invisible Form
 ==========================================================================-->

					<div class="hidden">
					<div class="field">
						<label>Name</label>
						<input type="text" name="<%= i %>[name]" placeholder="name of item" value="<%= items[i].name %>" class="<%=items[i]._id%>">
					</div>
					<div class="field">
						<label>Image</label>
						<input type="text" name="<%= i %>[image]" placeholder="image url" value="<%= items[i].image %>">
					</div>
					<div class="field">
						<label>Store</label>
						<select class="ui fluid dropdown" name="<%= i %>[store]" required="true">
							<option value=""> </option>
							<option value="foodco" <% if (items[i].store=="foodco") { %> selected="true" <% } %>>FoodCo</option>
							<option value="walmart" <% if (items[i].store=="walmart") { %> selected="true" <% } %>>WalMart</option>
							<option value="costless" <% if (items[i].store=="costless") { %> selected="true" <% } %>>CostLess</option>
							<option value="bestbuy" <% if (items[i].store=="bestbuy") { %> selected="true" <% } %>>BestBuy</option>
							<option value="savemart" <% if (items[i].store=="savemart") { %> selected="true" <% } %>>SaveMart</option>
							<option value="exchange" <% if (items[i].store=="exhchange") { %> selected="true" <% } %>>NavyExchange</option>
							<option value="jetmart" <% if (items[i].store=="jetmart") { %> selected="true" <% } %>>JetMart</option>
						</select>
					</div>
					<div class="field">
						<label>Type</label>
						<select class="ui fluid dropdown" name="<%= i %>[type]" required="true">
							<option value=""> </option>
							<option value="Plastic" <% if (items[i].type=="Plastic") { %> selected="true" <% } %>>Plastic</option>
							<option value="Glass" <% if (items[i].type=="Glass") { %> selected="true" <% } %>>Glass</option>
							<option value="Beer" <% if (items[i].type=="Beer") { %> selected="true" <% } %>>Beer</option>
							<option value="Bang" <% if (items[i].type=="Bang") { %> selected="true" <% } %>>Bang</option>
							<option value="Water" <% if (items[i].type=="Water") { %> selected="true" <% } %>>Water</option>
							<option value="Calypso" <% if (items[i].type=="Calypso") { %> selected="true" <% } %>>Calypso</option>
							<option value="Arizona" <% if (items[i].type=="Arizona") { %> selected="true" <% } %>>Arizona</option>
						</select>

				 </div>
					<div class="field">
						<label>Amount</label>
						<input type="number" name="<%= i %>[amount]" placeholder="amount" required="true" class="numInput" value="<%= items[i].amount %>">
					</div>
					<div class="field">
						<label>List Count</label>
						<input class="numInput  <%= items[i]._id %>" type="number" name="<%= i %>[listCount]" placeholder="list count" required="true"  value="<%= items[i].listCount %>">
					</div>
					<div class="field">
						<label>Index</label>
						<input class="numInput indexInput <%= items[i]._id %>" type="number" name="<%= i %>[index]" placeholder="index" required="true"  value="<%= listIndex %>">
					</div>
					<div class="field">
						<label>UID</label>
						<input class="" type="text" name="<%= i %>[UID]" placeholder="UID" required="true"  value="<%= items[i]._id %>">
					</div>
					<button class="ui button blue" type="submit">Update</button>
					<a href="/items/<%= items[i]._id %>" class="ui button red">Delete</a>
					</div>
					<% listIndex+=1; %>



				<% } %>
			<% } %>
			<% } %>

		</div>
	<% } %>
<button class="ui button blue" type="submit">Update</button>
</form>
<a href="/items/store/<%=storeName%>" class="ui button blue">Home</a>












<script type="text/javascript">

	$(".changeOrder.up.button").click(function(){
		var type = $(this).parent().parent().attr("list-type");
		var index = parseInt($(this).parent().parent().attr("list-index"));
		var targetIndex = index -1;
		//check to see if there is an item in the target index that exists.
		if($("."+type+"-list-item").eq(targetIndex).length>0&&targetIndex>=0){
			console.log("there is an item above this one.")
			//this is the clicked item that will be moved
			var item1 = $("."+type+"-list-item").eq(index);
			//this is the other item that will be moved
			var item2 = $("."+type+"-list-item").eq(targetIndex);

			$(item2).before( $(item1) )

			reOrderIndeces(item1,item2);
		} else {
			console.log("there is not an item above this one.")
		}
	})
	$(".changeOrder.down.button").click(function(){
		var type = $(this).parent().parent().attr("list-type");
		var index = parseInt($(this).parent().parent().attr("list-index"));
		var targetIndex = index +1;
		//check to see if there is an item in the target index that exists.
		if($("."+type+"-list-item").eq(targetIndex).length>0&&targetIndex>=0){
			console.log("there is an item below this one.")
			//this is the clicked item that will be moved
			var item1 = $("."+type+"-list-item").eq(index);
			//this is the other item that will be moved
			var item2 = $("."+type+"-list-item").eq(targetIndex);

			$(item2).after( $(item1) )

			reOrderIndeces(item1,item2);
		} else {
			console.log("there is not an item below this one.")
		}
	})

	function reOrderIndeces(item1,item2) {
		
		console.log($(item1))
			//grab indeces from list-index attribute
			var index1 = $(item1).attr("list-index");
			var index2 = $(item2).attr("list-index");
			
			//grab ids of database items
			var id1 = $(item1).attr("UID");
			var id2 = $(item2).attr("UID");

			//swap list-index values
			$(item1).attr("list-index",index2);
			$(item2).attr("list-index",index1);

			//update the update form values to match the user selected order
			console.log("database item1 index value before: "+$("input.indexInput."+id1).val())
			console.log("database item2 index value before: "+$("input.indexInput."+id2).val())
			$("input.indexInput."+id1).val( $(item1).attr("list-index") )
			$("input.indexInput."+id2).val( $(item2).attr("list-index") )
			console.log("database item1 index value after: "+$("input.indexInput."+id1).val())
			console.log("database item2 index value after: "+$("input.indexInput."+id2).val())
	}

</script>


<% include partials/footer.ejs %>