<% include partials/header.ejs %>

<form class="ui form" method="POST" action="/items/<%= item._id %>?_method=PUT">
	<div class="field">
		<label>Name</label>
		<input type="text" name="item[name]" placeholder="name of item" value="<%= item.name %>">
	</div>
	<div class="field">
		<label>Image</label>
		<input type="text" name="item[image]" placeholder="image url" value="<%= item.image %>">
	</div>
	<div class="field">
		<label>Store</label>
		<select class="ui fluid dropdown" name="item[store]" required="true">
			<option value=""> </option>
			<option value="foodco" <% if (item.store=="foodco") { %> selected="true" <% } %>>FoodCo</option>
			<option value="walmart" <% if (item.store=="walmart") { %> selected="true" <% } %>>WalMart</option>
			<option value="costless" <% if (item.store=="costless") { %> selected="true" <% } %>>CostLess</option>
			<option value="bestbuy" <% if (item.store=="bestbuy") { %> selected="true" <% } %>>BestBuy</option>
			<option value="savemart" <% if (item.store=="savemart") { %> selected="true" <% } %>>SaveMart</option>
			<option value="exchange" <% if (item.store=="exhchange") { %> selected="true" <% } %>>NavyExchange</option>
			<option value="jetmart" <% if (item.store=="jetmart") { %> selected="true" <% } %>>JetMart</option>
		</select>
	</div>
	<div class="field">
		<label>Type</label>
		<select class="ui fluid dropdown" name="item[type]" required="true">
			<option value=""> </option>
			<option value="Plastic" <% if (item.type=="Plastic") { %> selected="true" <% } %>>Plastic</option>
			<option value="Glass" <% if (item.type=="Glass") { %> selected="true" <% } %>>Glass</option>
			<option value="Beer" <% if (item.type=="Beer") { %> selected="true" <% } %>>Beer</option>
			<option value="Bang" <% if (item.type=="Bang") { %> selected="true" <% } %>>Bang</option>
			<option value="Water" <% if (item.type=="Water") { %> selected="true" <% } %>>Water</option>
			<option value="Calypso" <% if (item.type=="Calypso") { %> selected="true" <% } %>>Calypso</option>
			<option value="Arizona" <% if (item.type=="Arizona") { %> selected="true" <% } %>>Arizona</option>
		</select>
<!-- 		<input type="text" name="item[type]" placeholder="type of item" value="<%= item.type %>">
 --></div>
	<div class="field">
		<label>Amount</label>
		<div class="ui icon buttons tiny">
		<div class="ui button" id="plusBtn">
			<i class="plus icon"></i>	
		</div>
		<div class="ui button" id="minusBtn">
			<i class="minus icon"></i>	
		</div>
		</div>
		<input type="number" name="item[amount]" placeholder="amount" required="true" id="numInput" value="<%= item.amount %>">
	</div>
	<button class="ui button blue" type="submit">Update</button>
	<a href="/items/<%= item._id %>" class="ui button red">Delete</a>
</form>


<script type="text/javascript">
	var newVal = parseInt($("#numInput").val())
	$("#plusBtn").click(function(){
		newVal+=1;
		$("#numInput").val(newVal)
	})
	$("#minusBtn").click(function(){
		newVal-=1;
		$("#numInput").val(newVal)
	})
</script>

<% include partials/footer.ejs %>