<% include partials/header.ejs %>

<% items = user.items %>

<% function capitalize(string)  { %>

    <% return string.charAt(0).toUpperCase() + string.slice(1); %>

<% } %>


<div class="ui segment">
	<h1 class="ui header"><%= capitalize(storeName) %></h1> Inventory
	
</div>

<div class="ui vertical menu fluid">
	<div class="item">
		<a href="/store/startList/<%= storeName %>" class="positive ui button startListBtn">Start List</a>
		<a href="/items/newFromWarehouse/<%= storeName %>" class="ui button blue">New Item</a>
		<a href="/changeOrder/<%= storeName %>" class="ui button blue">Change Order</a>
	</div>
</div>


<% var types = [] %>

<% for (var i = 0; i < items.length; i++) {
	 	if(types.indexOf(items[i].type)==-1) {
		 	types.push(items[i].type);
	 	}
 	} %>

<% 	var lowestIndex=0;
	var largestIndex=0;
 %>

<% for (var i = 0; i < items.length; i++) {
	if (items[i].index<lowestIndex) {
		lowestIndex=items[i].index;
	}
	if (items[i].index>largestIndex) {
		largestIndex=items[i].index;
	}
} %>
	





	<% for (var k = 0; k < types.length; k++) { %>
		<div class="ui vertical menu fluid">
			<div class="item header"><h3><%= types[k] %></h3></div>
			<% for (var l = lowestIndex; l <= largestIndex; l++) { %>
			<% for (var i = 0; i < items.length; i++) { %>
				<% if (items[i].type==types[k]&&items[i].index==l) { %>
					<div class="item" style="margin: auto; height: 100%; <% if (items[i].amount<=0) { %>background-color: #f5f5f5;<% } %> ">
						<div class="item" style="padding: 5px;display: inline-block;">
								<%= items[i].name %>
						</div>
						<div class="ui label <% if (items[i].amount<=0) {%> red <% } else { %>blue <% } %>"><%= items[i].amount %></div>
						<div class="ui icon buttons mini compact right floated" >
							<form class="invisiform" method="POST" action="/items/<%= items[i]._id %>?_method=PUT">
								<input type="text" name="item[name]" placeholder="name of item" value="<%= items[i].name %>">
								<input type="text" name="item[image]" placeholder="image url" value="<%= items[i].image %>">
								<input type="text" name="item[store]" placeholder="store" value="<%= items[i].store %>">
								<input type="text" name="item[type]" placeholder="type" value="<%= items[i].type %>">
								<input type="text" name="item[amount]" placeholder="amount" value="<%= items[i].amount + 1 %>">
								<input type="text" name="item[listCount]" placeholder="list count" value="<%= items[i].listCount%>">
								<input type="text" name="item[index]" placeholder="index" value="<%= items[i].index%>">
								<button type="submit" class="ui button"><i class="plus icon"></i></button>
							</form>
							<form class="invisiform" method="POST" action="/items/<%= items[i]._id %>?_method=PUT">
								<input type="text" name="item[name]" placeholder="name of item" value="<%= items[i].name %>">
								<input type="text" name="item[image]" placeholder="image url" value="<%= items[i].image %>">
								<input type="text" name="item[store]" placeholder="store" value="<%= items[i].store %>">
								<input type="text" name="item[type]" placeholder="type" value="<%= items[i].type %>">
								<input type="text" name="item[amount]" placeholder="amount" value="<%= items[i].amount - 1 %>">
								<button type="submit" class="ui button"><i class="minus icon"></i></button>	
							</form>
						</div>
						<div class="ui icon buttons mini compact">
						  <a class="ui button basic" href="/items/<%= items[i]._id %>/edit"><i class="wrench icon"></i></a>
						</div>
					</div>
				<% } %>
			<% } %>
			<% } %>
		</div>
	<% } %>






<% include partials/footer.ejs %>