
<% include partials/header.ejs %>


<% function capitalize(string)  { %>

    <% return string.charAt(0).toUpperCase() + string.slice(1); %>

<% } %>


<div class="ui segment">
	<h1 class="ui header"><%= capitalize(storeName) %><a href="/store/routine/<%= storeName %>" class="positive ui button startListBtn">Start List</a></h1> Inventory
	<a href="/items/new/<%= storeName %>" class="ui button blue">New Item</a>
</div>
    
    

<% var types = [] %>

<% for (var i = 0; i < items.length; i++) {
	 	if(types.indexOf(items[i].type)==-1) {
		 	types.push(items[i].type);
	 	}
 	} %>


	
	<!--  for (var k = 0; k < types.length; k++) { 
	<div class="ui vertical menu fluid">
		<div class="item header"><h3> types[k] </h3></div>
		 for (var i = 0; i < items.length; i++) { 
			 if (items[i].type==types[k]) { 
				<a class="item" href="/items/ items[i]._id /edit">
						 items[i].name 
					<div class="ui label"> items[i].amount </div>
				</a>
			 } 
		 } 
	</div>
	 }  -->





	<% for (var k = 0; k < types.length; k++) { %>
		<div class="ui vertical menu fluid">
			<div class="item header"><h3><%= types[k] %></h3></div>
			<% for (var i = 0; i < items.length; i++) { %>
				<% if (items[i].type==types[k]) { %>
					<div class="item" style="margin: auto; height: 100%; <% if (items[i].amount<=0) { %>background-color: #f5f5f5;<% } %> ">
						<div class="item" style="padding: 5px;display: inline-block;">
								<%= items[i].name %>
						</div>
						<div class="ui label <% if (items[i].amount<=0) {%> red <% } else { %>blue <% } %>"><%= items[i].amount %></div>
						<div class="ui icon buttons mini compact right floated" >
							<form class="invisiform" method="POST" action="/items/<%= items[i]._id %>?_method=PUT">
								<input type="text" name="item[name]" placeholder="name of item" value="<%= items[i].name %>">
								<input type="text" name="item[image]" placeholder="image url" value="<%= items[i].image %>">
								<input type="text" name="item[store]" placeholder="store" value="<%= items[i].store %>">
								<input type="text" name="item[type]" placeholder="type" value="<%= items[i].type %>">
								<input type="text" name="item[amount]" placeholder="amount" value="<%= items[i].amount + 1 %>">
								<button type="submit" class="ui button"><i class="plus icon"></i></button>
							</form>
							<form class="invisiform" method="POST" action="/items/<%= items[i]._id %>?_method=PUT">
								<input type="text" name="item[name]" placeholder="name of item" value="<%= items[i].name %>">
								<input type="text" name="item[image]" placeholder="image url" value="<%= items[i].image %>">
								<input type="text" name="item[store]" placeholder="store" value="<%= items[i].store %>">
								<input type="text" name="item[type]" placeholder="type" value="<%= items[i].type %>">
								<input type="text" name="item[amount]" placeholder="amount" value="<%= items[i].amount - 1 %>">
								<button type="submit" class="ui button"><i class="minus icon"></i></button>	
							</form>
						</div>
						<div class="ui icon buttons mini compact">
						  <a class="ui button basic" href="/items/<%= items[i]._id %>/edit"><i class="wrench icon"></i></a>
						</div>
					</div>
				<% } %>
			<% } %>
		</div>
	<% } %>



	<!--  for (var k = 0; k < types.length; k++) { 
		<div class="ui vertical menu fluid">
			<div class="item header"><h3> types[k] </h3></div>
			 for (var i = 0; i < items.length; i++) { 
				 if (items[i].type==types[k]) { 
					<div class="item" style="margin: auto; height: 100%;">
						<button class="ui labeled icon button item">
						  <i class="wrench icon"></i>
						   items[i].name 
						</button>
						<div class="ui label green"> items[i].amount </div>
						<div class="ui icon buttons mini compact right floated" >
						  <a class="ui button"><i class="plus icon"></i></a>
						  <a class="ui button"><i class="minus icon"></i></a>
						</div>
					</div>
				 } 
			 } 
		</div>
	 }  -->





	<!-- <div class="ui vertical menu fluid">
		
				
		<div class="item header"><h3>Plastic</h3></div>

			
		<div class="item" style="margin: auto; height: 100%;">
				<div class="item" style="padding: 5px;display: inline-block;">
					Orange 1.5L
				</div>
				
				<div class="ui label">5</div>
				
				<div class="ui icon buttons mini compact" style="float: right; margin: auto;">
				  <button class="ui button"><i class="bold icon"></i></button>
				  <button class="ui button"><i class="underline icon"></i></button>
				  <button class="ui button"><i class="text width icon"></i></button>
				</div>
				
			
		</div>
				
					
				
			
		
	</div> -->


<% include partials/footer.ejs %>