<% include partials/header.ejs %>

<a href="/items/store/<%=storeName%>" class="ui button gray">Back</a>

<div class="ui segment">
	<h1 class="ui header">Select a product from the warehouse to add to <%= storeName %></h1>
	<p class="ui info">Don't see your product? <a href="/warehouse/new" class="btn btn-primary">Add new product to the Warehouse</a></p>
	
</div>
<div class="ui grid">
	<div class="three column row">
		<% for (var i = 0; i < warehouseItems.length; i++) { -%>
			<div class="column">
				<form action="/copyFromWarehouse/<%=warehouseItems[i]._id%>/<%=storeName%>" method="POST">
					<button class="ui card">
						
							<div class="header">
								<%= warehouseItems[i].name %>
							</div>
							<div class="meta">
								<%= warehouseItems[i].type %>
							</div>
						
					</button>
				</form>
			</div>
		<% } -%>
	</div>
</div>


<% include partials/footer.ejs %>