<% include partials/header.ejs %>


<% function capitalize(string)  { %>

    <% return string.charAt(0).toUpperCase() + string.slice(1); %>

<% } %>


<div class="ui segment">
	<h1 class="ui header"><%= capitalize(storeName)%> List</h1>
</div>

<% var types = [] %>

<% for (var i = 0; i < items.length; i++) {
	 	if(types.indexOf(items[i].type)==-1) {
		 	types.push(items[i].type);
	 	}
 	} %>



<% for (var k = 0; k < types.length; k++) { %>
	<div class="ui vertical menu fluid">
			<div class="item header"><h3><%= types[k] %></h3></div>
			<% for (var i = 0; i < items.length; i++) { %>
				<% if (items[i].type==types[k]) { %>
					<div class="item" style="margin: auto; height: 100%; <% if (items[i].amount<=0) { %>background-color: #f5f5f5;<% } %> ">
						<div class="item" style="padding: 5px;display: inline-block;">
								<%= items[i].name %>
						</div>

						<div class="ui label <% if (items[i].amount<=0) {%> gray <% } else { %>gray <% } %>"><%= items[i].amount %></div>
						<div class="ui <%if (items[i].listCount==0) { %> gray  <% } else { %> green <% } %> label massive listCountDisplay <%= items[i]._id %>" UID="<%= items[i]._id %>"><%= items[i].listCount %></div>

						
					</div>
				<% } %>
			<% } %>
		</div>
<% } %>








<% include partials/footer.ejs %>